@import "compass/css3";

//font style
$system_font_family_1: "Microsoft YaHei";//微软雅黑
$system_font_family_2: "SimHei";//黑体

//color
$login_loginComponent_background_color: #ffffff;
$login_line_color: #195AAE;
$login_title_background_color: #ffffff;
$login_title_div_color: #195AAE;
$login_bottom_content_background_color: #0071c5;
$login_login_background_color: #ffffff;
$login_login_login_title: #0071c5;
$login_login_subheading: #c3c5c6;
$login_login_form_border_color: #bac7d2;
$login_login_rememberpwd_color: #c3c5c6;
$login_login_button_background_color: #4c88f1;
$login_login_button_color: #ffffff;
$login_login_version_color: #c3c5c6;